.faq {
    padding-top: 40px;
    &__title_1 {
        text-align: center;
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 20px;
        @media (min-width: 768px) {
            padding-bottom: 27px;
            margin-bottom: 78px;
        }
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            @media (min-width: 768px) {
                width: calc(100% - 120px);
            }
            height: 1px;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            background: rgba(255, 255, 255, 0.24);
        }
    }
    &__uptitle {
        text-align: center;
        font-family: "DM Sans";
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.085em;
        text-transform: uppercase;
        color: #6c6c6c;
        margin-bottom: 13px;
    }
    &__title_2 {
        text-align: center;
        max-width: 850px;
        margin: 0 auto;
    }
    &__list {
        margin-top: 15px;
        @media (min-width: 768px) {
            margin-top: 49px;
        }
    }
    &__item {
        padding: 15px 0;
        @media (min-width: 768px) {
            padding: 27px 0;
        }
        border-bottom: 1px solid rgba(255, 255, 255, 0.24);
        position: relative;
        &-btn {
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #b70e0e;
            border-radius: 2px;
            position: absolute;
            right: 0;
            top: 15px;
            @media (min-width: 768px) {
                top: 27px;
                width: 35px;
                height: 35px;
            }
            svg {
                @media (max-width: 769px) {
                    width: 15px;
                }
                transition: 0.5s;
            }
        }
        h3 {
            font-family: "DM Sans";
            font-weight: 500;
            font-size: 18px;
            letter-spacing: 0.015em;
            text-transform: capitalize;
            cursor: pointer;
            @media (min-width: 992px) {
                font-size: 24px;
            }
        }
        &-text {
            position: relative;
            overflow: hidden;
            max-height: 0;
            transition: max-height 0.7s;
            p:first-child {
                padding-top: 15px;
                @media (min-width: 768px) {
                    padding-top: 40px;
                }
            }
        }
        &.active {
            .faq__item-text {
                max-height: 1000px;
            }
            .faq__item-btn svg {
                transform: rotate(180deg);
            }
        }
    }
}

.cards-speaking {
    background: transparent;
    .text {
        margin-bottom: 0;
    }
}
