@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.woff);
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Medium.woff);
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-SemiBold.woff);
  font-weight: 600;
}
@font-face {
  font-family: "Sonica";
  src: url(../fonts/Sonika-Re_PERSONAL.woff);
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input:not(.tel-input) {
  outline: none;
}
input:not(.tel-input):focus::-moz-placeholder {
  font-size: 0 !important;
}
input:not(.tel-input):focus::placeholder {
  font-size: 0 !important;
}

.section-title,
.h2 {
  font-size: 34px;
  font-weight: 400;
  font-family: "Sonica";
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .section-title,
  .h2 {
    font-size: 24px;
  }
}
.section-title.center,
.h2.center {
  text-align: center;
}
.section-title span,
.h2 span {
  color: #b70e0e;
}

.wrapper {
  position: relative;
  overflow: hidden;
}
.wrapper::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../img/cards-bg.png) center/cover no-repeat;
  opacity: 0.07;
}

.container {
  max-width: 1285px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  z-index: 4;
}

body {
  background: #0d0d0d;
  font-family: "Gilroy";
  font-weight: 400;
  color: #fff;
  font-size: 17px;
}
@media (max-width: 1099px) {
  body {
    font-size: 14px;
  }
}
@media (min-width: 1099px) {
  body {
    overflow: visible !important;
  }
}

.text p:not(:last-child) {
  margin-bottom: 20px;
}
.text span {
  color: #b70e0e;
}

.header {
  padding: 18px 0;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background: #0d0d0d;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo img {
  display: block;
  height: 55px;
  width: auto;
}
@media (max-width: 576px) {
  .header__logo img {
    display: block;
    height: 40px;
    width: auto;
  }
}
.header__menu-btn {
  width: 30px;
  height: 20px;
  border: none;
  background: transparent;
  position: relative;
  z-index: 102;
  display: none;
  transition: 0.3s;
}
@media (max-width: 1099px) {
  .header__menu-btn {
    display: block;
  }
}
.header__menu-btn span {
  display: block;
  height: 1px;
  background: #fff;
  border-radius: 5px;
  width: 100%;
  position: absolute;
  transition: 0.3s;
}
.header__menu-btn span:first-child {
  top: 0;
}
.header__menu-btn span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.header__menu-btn span:last-child {
  top: calc(100% - 1px);
}
.header__menu-btn.active {
  transform: rotate(45deg);
}
.header__menu-btn.active span:last-child {
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
}
.header__menu-btn.active span:first-child {
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1099px) {
  .header__menu {
    position: fixed;
    top: 0;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 101;
    background: #b70e0e;
    transition: top 0.3s;
  }
}
.header__menu.active {
  top: 0;
}
.header__menu ul {
  display: flex;
  gap: 35px;
}
@media (max-width: 1099px) {
  .header__menu ul {
    flex-direction: column;
  }
}
@media (max-width: 1250px) {
  .header__menu ul {
    gap: 15px;
  }
}
.header__menu a {
  font-weight: 500;
  position: relative;
}
@media (max-width: 1250px) {
  .header__menu a {
    font-size: 14px;
  }
}
@media (max-width: 1099px) {
  .header__menu a {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .header__menu a {
    font-size: 20px;
  }
}
.header__menu a::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  left: 0;
  opacity: 0;
  position: absolute;
  bottom: -12px;
  transition: 0.3s;
}
.header__menu a:hover::before {
  bottom: -5px;
  opacity: 0.7;
}
@media (max-width: 1099px) {
  .header__btn {
    position: fixed;
    z-index: 102;
    top: -60px;
    left: 15px;
    background: #fff !important;
    color: #b70e0e !important;
    transition-delay: 0.3s !important;
  }
}
.header__btn.active {
  top: 15px;
}

.btn {
  text-align: center;
  display: inline-block;
  min-width: 170px;
  background: #b70e0e;
  color: #fff;
  font-weight: 500;
  border-radius: 2px;
  border-bottom-left-radius: 14px;
  border-top-right-radius: 14px;
  padding: 11px 46px;
  font-family: "Gilroy";
  color: #fff;
  font-size: 17px;
  text-transform: capitalize;
  transition: 0.3s;
}
.btn.dark {
  background: #0d0d0d;
}
.btn.light {
  background: #fff !important;
  color: #000;
}
.btn:hover {
  background: #880a0a;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  padding-top: 78px;
}
.hero__img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  bottom: -78px;
  left: 0;
}
.hero.speaking {
  text-align: center;
}
.hero.speaking .hero__img {
  bottom: unset;
  top: 0;
}
.hero.speaking .container {
  max-width: 640px;
  display: block;
}
.hero.speaking .section-title {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .hero.speaking .section-title {
    margin-bottom: 28px;
  }
}
.hero.speaking .btn {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .hero.speaking .btn {
    margin-top: 35px;
  }
}
.hero .ep-iFrameContainer {
  order: -1;
}
.hero .container {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.hero .btn {
  border: none;
  position: relative;
  z-index: 3;
  padding: 11px 36px;
}
.hero form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.hero form .wpcf7-spinner {
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
}
.hero form .wpcf7-response-output {
  flex: 1 1 100%;
  border: none;
  padding: 0 !important;
  margin: 10px 0 0 0 !important;
  text-align: center;
  font-size: 12px;
}
.hero form .wpcf7-not-valid-tip {
  left: 0;
  font-size: 12px;
  top: -20px;
  position: absolute;
}
@media (max-width: 576px) {
  .hero form .wpcf7-not-valid-tip {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 576px) {
  .hero form {
    flex-direction: column;
    align-items: center;
  }
}
.hero form span {
  display: block;
}
.hero form .btn {
  height: 100%;
}
@media (max-width: 576px) {
  .hero form .btn {
    border-radius: 14px;
  }
}
.hero form [data-name=email-553] {
  margin-right: -10px;
  display: block;
}
@media (max-width: 576px) {
  .hero form [data-name=email-553] {
    margin-right: 0;
  }
}
.hero form input[type=email] {
  background: rgba(255, 255, 255, 0.14);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  max-width: 295px;
  width: 100%;
  display: block;
  padding: 17px 19px;
  border: none;
  border-bottom-left-radius: 14px;
  margin: 0 auto;
  color: #fff;
}
@media (max-width: 576px) {
  .hero form input[type=email] {
    border-radius: 14px;
    text-align: center;
    max-width: 85%;
    margin-bottom: 15px;
  }
}
.hero form input[type=email]::-moz-placeholder {
  font-weight: 400;
  font-size: 17px;
  color: #fff;
  font-family: "Gilroy";
}
.hero form input[type=email]::placeholder {
  font-weight: 400;
  font-size: 17px;
  color: #fff;
  font-family: "Gilroy";
}
.hero__text {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.015em;
  color: rgba(255, 255, 255, 0.54);
  max-width: 492px;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .hero__text {
    max-width: 100%;
    text-align: center;
  }
}

.make-money {
  padding-top: 37px;
  position: relative;
  z-index: 4;
  background: #0d0d0d;
  border-top-right-radius: 110px;
}
@media (max-width: 1099px) {
  .make-money {
    border-top-right-radius: 65px;
  }
}
@media (max-width: 768px) {
  .make-money {
    border-top-right-radius: 45px;
  }
}
.make-money .container {
  position: relative;
  padding-bottom: 50px;
}
.make-money .container::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 120px);
  height: 1px;
  background: #fff;
  opacity: 0.24;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
@media (max-width: 768px) {
  .make-money .container::after {
    width: calc(100% - 30px);
  }
}
.make-money__btns {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 51px;
}
@media (max-width: 1250px) {
  .make-money__btns {
    gap: 15px;
    margin-top: 25px;
  }
}
@media (max-width: 1099px) {
  .make-money__btns {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .make-money__btns {
    grid-template-columns: repeat(1, 1fr);
  }
}
.make-money .btn {
  padding-top: 17px;
  padding-bottom: 17px;
}
@media (max-width: 1250px) {
  .make-money .btn {
    padding: 17px 20px;
  }
}

.about {
  padding: 55px 0 65px;
}
@media (max-width: 768px) {
  .about {
    padding: 45px 0;
  }
}
@media (max-width: 576px) {
  .about .btn {
    width: 100%;
  }
}
.about-dif h2 {
  flex: 1 1 100%;
  margin-bottom: 30px;
}
.about-dif .about__uptitle {
  flex: 1 1 100%;
}
.about-dif .container {
  flex-wrap: wrap;
}
.about .container {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .about .container {
    flex-direction: column;
  }
}
.about__img {
  flex: 0 0 499px;
  position: relative;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 60px;
  overflow: hidden;
}
@media (max-width: 992px) {
  .about__img {
    flex: 0 0 350px;
  }
}
@media (max-width: 768px) {
  .about__img {
    flex: 1 1 100%;
    width: 100%;
    margin-bottom: 15px;
  }
}
.about__img::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  pointer-events: none;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.29), rgba(0, 0, 0, 0.29)), url(image.png);
}
.about__img svg {
  position: absolute;
  left: 50%;
  top: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 0;
}
.about__img iframe {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 304px;
}
@media (max-width: 992px) {
  .about__img iframe {
    height: 250px;
  }
}
@media (max-width: 768px) {
  .about__img iframe {
    height: 200px;
  }
}
.about__right {
  flex: 1 1 calc(100% - 499px);
  padding-left: 45px;
}
@media (max-width: 768px) {
  .about__right {
    padding-left: 0;
    flex: 1 1 100%;
  }
}
@media (min-width: 1099px) {
  .about__right > img {
    height: 83px;
    width: auto;
  }
}
.about__uptitle {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.085em;
  text-transform: uppercase;
  color: #6c6c6c;
  margin-bottom: 15px;
}
.about .text {
  margin-top: 17px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.81);
  font-size: 18px;
}
@media (max-width: 992px) {
  .about .text {
    font-size: 14px;
  }
}
.about .btn {
  margin-top: 25px;
}
.about_2 {
  background: url(../img/cards-bg.png) center/cover no-repeat;
}

.logos {
  padding-bottom: 70px;
}
@media (max-width: 768px) {
  .logos .container > a {
    display: none;
  }
}
.logos__swiper {
  display: none;
}
@media (max-width: 768px) {
  .logos__swiper {
    display: block;
  }
}
.logos__swiper .swiper-wrapper {
  align-items: center;
}
.logos__swiper img {
  width: 100%;
  height: auto;
}
.logos .container {
  display: flex;
  align-items: center;
  gap: 105px;
  justify-content: space-between;
}
@media (max-width: 1300px) {
  .logos .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 45px;
  }
  .logos .container img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .logos .container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
    place-items: center;
    gap: 30px 35vw;
  }
  .logos .container img {
    max-height: 50px;
  }
}
@media (max-width: 768px) {
  .logos .container {
    display: block;
  }
}
.logos h2 {
  padding: 0 15px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.68);
  margin-bottom: 41px;
}
.logos_2 {
  padding: 50px 0;
  background: url(../img/cards-bg.png) center/cover no-repeat;
}
.logos_2 .container {
  gap: 66px;
}

.banner {
  height: 235px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media (max-width: 768px) {
  .banner {
    height: 120px;
  }
}
.banner__video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner_1 {
  height: 285px;
  padding-bottom: 50px;
  border-top-right-radius: 65px;
}
.banner_2 {
  height: 285px;
  padding-top: 50px;
  margin-top: -50px;
}
.banner .container {
  position: relative;
  z-index: 3;
}
.banner img {
  width: 171px;
  height: 66px;
}

.study {
  padding: 50px 0;
  margin-top: -50px;
  position: relative;
  z-index: 3;
  border-top-left-radius: 64px;
  border-bottom-right-radius: 64px;
  background: url(../img/study-bg.jpg) center/cover no-repeat;
}
@media (max-width: 768px) {
  .study {
    padding: 15px 0;
  }
}
.study .container {
  display: flex;
}
@media (max-width: 992px) {
  .study .container {
    flex-direction: column-reverse;
  }
}
.study__img {
  display: block;
  flex: 0 0 499px;
  position: relative;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 60px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .study__img {
    border-bottom-right-radius: 60px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}
@media (max-width: 1099px) {
  .study__img {
    flex: 0 0 400px;
  }
}
@media (max-width: 992px) {
  .study__img {
    max-width: 450px;
    flex: 1 1 100%;
    margin: 0 auto 15px;
  }
}
@media (max-width: 992px) and (max-width: 450px) {
  .study__img {
    margin: 0 0 15px 0;
  }
}
.study__img svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  pointer-events: none;
  opacity: 0;
}
.study__img iframe {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 304px;
}
@media (max-width: 992px) {
  .study__img iframe {
    height: 250px;
  }
}
@media (max-width: 768px) {
  .study__img iframe {
    height: 200px;
  }
}
@media (max-width: 768px) {
  .study .btn {
    width: 100%;
    border-radius: 14px;
    border-bottom-right-radius: 60px;
  }
}
.study__left {
  flex: 1 1 100%;
  padding-right: 45px;
}
@media (max-width: 992px) {
  .study__left {
    padding: 0;
  }
}
.study__uptitle {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.085em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .study__uptitle {
    font-size: 14px;
  }
}
.study .text {
  font-size: 18px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.81);
}
@media (max-width: 992px) {
  .study .text {
    font-size: 14px;
  }
}
.study__list {
  display: grid;
  grid-template-columns: 200px 270px;
  margin: 33px 0;
  gap: 9px 15px;
}
@media (max-width: 768px) {
  .study__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.study__item {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .study__item {
    font-size: 14px;
  }
}
.study__item::before {
  content: url(../img/tick.svg);
  display: inline-block;
  margin-right: 11px;
}

.cards {
  padding: 45px 0;
  background: url(../img/cards-bg.png) center/cover no-repeat;
}
@media (min-width: 768px) {
  .cards {
    padding: 75px 0;
  }
}
@media (min-width: 1099px) {
  .cards {
    padding: 106px 0 129px;
  }
}
.cards__uptitle {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.085em;
  text-transform: uppercase;
  color: #6c6c6c;
  margin-bottom: 15px;
}
.cards h2 {
  margin-bottom: 44px;
}
@media (max-width: 576px) {
  .cards .btn {
    width: 100%;
  }
}
.cards__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .cards__item {
    flex-direction: row;
  }
}
.cards__item:not(:last-child) {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .cards__item:not(:last-child) {
    margin-bottom: 60px;
  }
}
.cards__item-right {
  flex: 1 1 100%;
}
@media (min-width: 768px) {
  .cards__item-right {
    padding-left: 45px;
  }
}
@media (min-width: 1099px) {
  .cards__item-right {
    padding-left: 70px;
  }
}
.cards__item-title {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.015em;
  text-transform: capitalize;
}
.cards__item-text {
  margin: 23px 0 32px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.81);
}
@media (min-width: 768px) {
  .cards__item-text {
    font-size: 18px;
  }
}
.cards__item.reverse {
  flex-direction: column;
}
@media (min-width: 768px) {
  .cards__item.reverse {
    flex-direction: row-reverse;
  }
}
.cards__item.reverse .cards__item-right {
  padding-left: 0;
}
@media (min-width: 768px) {
  .cards__item.reverse .cards__item-right {
    padding-right: 45px;
  }
}
@media (min-width: 1099px) {
  .cards__item.reverse .cards__item-right {
    padding-right: 70px;
  }
}
.cards__img {
  width: 100%;
  height: 175px;
  margin-bottom: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-top-right-radius: 65px;
  border-bottom-left-radius: 65px;
}
@media (min-width: 768px) {
  .cards__img {
    flex: 0 0 400px;
    height: 158px;
    margin-bottom: 0;
  }
}
@media (min-width: 1099px) {
  .cards__img {
    flex: 0 0 512px;
    height: 258px;
  }
}

.article {
  position: relative;
  height: 345px;
  display: flex;
  align-items: center;
}
.article img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}
.article::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.56;
  z-index: 3;
}
.article .container {
  position: relative;
  z-index: 4;
  max-width: 900px;
  text-align: center;
}
.article h2 {
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 22px;
}
@media (max-width: 768px) {
  .article h2 {
    font-size: 16px;
  }
}
.article__author {
  font-weight: 500;
  font-size: 20px;
  color: #b70e0e;
}
@media (max-width: 768px) {
  .article__author {
    font-size: 14px;
  }
}

.socials {
  padding: 45px 0;
  background: url(../img/cards-bg.png) center/cover no-repeat;
}
@media (min-width: 768px) {
  .socials {
    padding: 75px 0;
  }
}
@media (min-width: 1099px) {
  .socials {
    padding: 150px 0;
  }
}
.socials .container {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .socials .container {
    flex-direction: column-reverse;
    text-align: center;
    gap: 25px;
  }
}
.socials__list {
  display: flex;
  gap: 40px;
}
@media (max-width: 1099px) {
  .socials__list {
    gap: 15px;
  }
}
.socials__list li {
  background: rgba(134, 134, 134, 0.26);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 50%;
  width: 65px;
  height: 65px;
  transition: background 0.3s;
}
@media (max-width: 768px) {
  .socials__list li {
    width: 40px;
    height: 40px;
  }
  .socials__list li img {
    height: 20px;
  }
}
.socials__list li:hover {
  background: #b70e0e;
}
.socials__list li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials__list li a img {
  max-width: 36px;
  max-height: 30px;
}
.socials__right {
  padding-left: 143px;
  padding-right: 60px;
}
@media (max-width: 1099px) {
  .socials__right {
    padding-left: 45px;
    padding-right: 0px;
  }
}
@media (max-width: 768px) {
  .socials__right {
    padding: 0;
  }
}
.socials__uptitle {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.085em;
  text-transform: uppercase;
  color: #6c6c6c;
  margin-bottom: 15px;
}

.youtube {
  padding: 40px 0;
}
@media (min-width: 768px) {
  .youtube {
    padding: 40px 0 70px;
  }
}
.youtube__uptitle {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.085em;
  text-transform: uppercase;
  color: #6c6c6c;
  margin-bottom: 15px;
}
.youtube__list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}
@media (min-width: 576px) {
  .youtube__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1099px) {
  .youtube__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.youtube__item {
  position: relative;
  border-radius: 2px;
  overflow: hidden;
}
.youtube__item svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
}
.youtube__item iframe {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
@media (min-width: 768px) {
  .youtube__item iframe {
    height: 191px;
  }
}

.podcast {
  padding: 40px 0;
  background: url(../img/cards-bg.png);
}
@media (min-width: 768px) {
  .podcast {
    padding: 80px 0;
  }
}
.podcast .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 992px) {
  .podcast .container {
    flex-direction: row;
  }
}
.podcast__left {
  flex: 1 1 100%;
  padding-right: 45px;
}
@media (min-width: 1099px) {
  .podcast__left {
    padding-right: 160px;
  }
}
.podcast__text {
  font-size: 18px;
  letter-spacing: 0.01em;
  margin-top: 17px;
  color: rgba(255, 255, 255, 0.81);
}
@media (max-width: 1099px) {
  .podcast__text {
    font-size: 14px;
  }
}
.podcast br {
  display: none;
}
.podcast .wpcf7 {
  flex: 1 1 100%;
  width: 100%;
  margin-top: 25px;
}
@media (min-width: 992px) {
  .podcast .wpcf7 {
    flex: 0 0 565px;
    width: 565px;
  }
}
.podcast .wpcf7-form-control-wrap {
  display: block;
  width: 100%;
}
@media (min-width: 768px) {
  .podcast .wpcf7-form-control-wrap {
    width: calc(50% - 12.5px);
  }
}
.podcast .form__wrap p {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
@media (min-width: 768px) {
  .podcast .form__wrap p {
    gap: 25px;
  }
}
.podcast form {
  display: block;
  width: 100%;
}
.podcast form input:not(.tel-input, [type=submit]),
.podcast form .iti {
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 2px;
  display: block;
  border: 1px solid;
  border-image-source: linear-gradient(90.03deg, rgba(255, 255, 255, 0.43) -99.93%, rgba(255, 255, 255, 0.01) 46.87%, rgba(255, 255, 255, 0.15) 99.97%);
  padding: 10px;
  font-size: 17px;
  width: 100%;
  color: #fff;
}
@media (min-width: 768px) {
  .podcast form input:not(.tel-input, [type=submit]),
  .podcast form .iti {
    padding: 19px 17px;
  }
}
.podcast form input:not(.tel-input, [type=submit])::-moz-placeholder, .podcast form .iti::-moz-placeholder {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  font-family: "Gilroy";
}
.podcast form input:not(.tel-input, [type=submit])::placeholder,
.podcast form .iti::placeholder {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  font-family: "Gilroy";
}
@media (min-width: 1099px) {
  .podcast form input:not(.tel-input, [type=submit])::-moz-placeholder, .podcast form .iti::-moz-placeholder {
    font-size: 17px;
  }
  .podcast form input:not(.tel-input, [type=submit])::placeholder,
  .podcast form .iti::placeholder {
    font-size: 17px;
  }
}
.podcast form .tel-input {
  background: transparent;
  border: none;
  outline: none;
  padding-left: 40px !important;
  color: #fff;
  font-size: 17px;
  width: 100%;
}
.podcast form .tel-input::-moz-placeholder {
  opacity: 0.7;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
  font-family: "Gilroy";
}
.podcast form .tel-input::placeholder {
  opacity: 0.7;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
  font-family: "Gilroy";
}
.podcast [data-name=your-story] {
  width: 100%;
}
.podcast .iti--allow-dropdown {
  position: relative;
  z-index: 5;
}
.podcast textarea {
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 2px;
  border: 1px solid;
  border-image-source: linear-gradient(90.03deg, rgba(255, 255, 255, 0.43) -99.93%, rgba(255, 255, 255, 0.01) 46.87%, rgba(255, 255, 255, 0.15) 99.97%);
  padding: 19px 17px;
  font-size: 17px;
  color: #fff;
  resize: none;
  height: 110px;
  outline: none;
  width: 100%;
}
.podcast textarea::-moz-placeholder {
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
  font-family: "Gilroy";
}
.podcast textarea::placeholder {
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
  font-family: "Gilroy";
}
.podcast input[type=submit] {
  border: none;
  max-width: 145px;
  margin-top: 25px;
}
@media (max-width: 576px) {
  .podcast input[type=submit] {
    max-width: 100%;
  }
}

.book {
  padding: 40px 0;
}
@media (min-width: 768px) {
  .book {
    padding: 70px 0;
  }
}
@media (min-width: 1099px) {
  .book {
    padding: 67px 0 130px;
  }
}
.book .container {
  display: flex;
}
@media (max-width: 768px) {
  .book .container {
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }
}
.book__left {
  width: 585px;
}
@media (max-width: 1200px) {
  .book__left {
    width: 400px;
  }
}
@media (max-width: 576px) {
  .book__left {
    width: 100%;
  }
}
.book__right {
  padding-left: 50px;
  flex: 1 1 100%;
}
@media (max-width: 768px) {
  .book__right {
    padding-left: 0;
  }
}
@media (max-width: 576px) {
  .book .btn {
    width: 100%;
  }
}
.book__img {
  max-width: 413px;
  height: auto;
  display: block;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .book__img {
    width: 70%;
  }
}
.book__swiper {
  max-width: 100%;
  text-align: center;
}
.book__swiper .swiper-slide {
  padding: 0 120px;
}
@media (max-width: 1200px) {
  .book__swiper .swiper-slide {
    padding: 0 10%;
  }
}
.book__swiper h3 {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #ffffff;
  font-style: italic;
  margin-bottom: 3px;
}
@media (max-width: 1200px) {
  .book__swiper h3 {
    font-size: 14px;
  }
}
.book__swiper p {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #b70e0e;
}
@media (max-width: 1200px) {
  .book__swiper p {
    font-size: 14px;
  }
}
.book__pagination {
  display: block;
  width: 100%;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.book__pagination-btn {
  background: transparent;
  border: none;
}
@media (max-width: 576px) {
  .book h2 {
    text-align: center;
  }
}
.book__uptitle {
  margin-bottom: 15px;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.085em;
  text-transform: uppercase;
  color: #6c6c6c;
}
@media (max-width: 1200px) {
  .book__uptitle {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .book__uptitle {
    text-align: center;
  }
}
.book .text {
  margin: 23px 0 28px;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.81);
}
@media (max-width: 1200px) {
  .book .text {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .book .text {
    text-align: center;
  }
}

@media (max-width: 1250px) {
  .footer p,
  .footer a:not(.footer__company),
  .footer li {
    font-size: 14px !important;
  }
}
.footer-bottom {
  position: relative;
  background: rgba(255, 255, 255, 0.11);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  padding: 12px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.015em;
  color: #a6a6a6;
}
.footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 576px) {
  .footer-bottom .container {
    flex-direction: column;
    gap: 5px;
  }
}
@media (max-width: 576px) {
  .footer-bottom {
    padding: 7px 0;
  }
}
@media (max-width: 992px) {
  .footer-bottom {
    font-size: 10px !important;
  }
}
.footer__company {
  display: flex;
  align-items: center;
  gap: 36px;
}
@media (max-width: 992px) {
  .footer__company {
    font-size: 10px !important;
    gap: 15px;
  }
  .footer__company svg {
    width: 50px;
  }
}
.footer__privacy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 992px) {
  .footer__privacy {
    position: static;
    transform: none;
  }
}
.footer-top {
  padding-bottom: 45px;
}
.footer-top .container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
@media (max-width: 1099px) {
  .footer-top .container {
    flex-wrap: wrap;
  }
}
@media (max-width: 1099px) {
  .footer-top {
    padding-bottom: 30px;
  }
}
.footer-top__col {
  width: auto;
}
@media (max-width: 850px) {
  .footer-top__col {
    flex: 0 0 calc(50% - 7.5px);
  }
}
@media (max-width: 650px) {
  .footer-top__col {
    flex: 1 1 100%;
    text-align: center;
  }
}
.footer-top__col ul:not(.footer__socials) {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-top__col ul:not(.footer__socials) a {
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.015em;
  color: #ffffff;
}
.footer__info {
  flex: 0 0 271px;
}
@media (max-width: 1099px) {
  .footer__info {
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 25px;
  }
  .footer__info p {
    max-width: 500px;
    margin: 15px auto 0;
  }
}
.footer__text {
  font-size: 16px;
  letter-spacing: 0.015em;
  margin-top: 18px;
  color: rgba(255, 255, 255, 0.49);
}
.footer__title {
  font-weight: 500;
  font-size: 19px;
  letter-spacing: 0.015em;
  color: #848484;
  margin-bottom: 21px;
}
.footer__link {
  display: flex;
  align-items: center;
  gap: 13px;
  letter-spacing: 0.015em;
  color: #ffffff;
  font-size: 17px;
}
@media (max-width: 650px) {
  .footer__link {
    justify-content: center;
  }
}
.footer__link_2 {
  margin-top: 15px;
}
.footer__socials {
  display: flex;
  gap: 12px;
  margin-top: 24px;
}
@media (max-width: 650px) {
  .footer__socials {
    justify-content: center;
    margin-top: 15px;
  }
}
.footer__socials li {
  width: 40px;
  height: 40px;
  background: rgba(134, 134, 134, 0.26);
  box-shadow: 0px 0px 50px -25px rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 50%;
  transition: 0.3s;
}
.footer__socials li:hover {
  background: #b70e0e;
}
.footer__socials li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__socials li a img {
  height: 18px;
  width: auto;
}

.iti--container {
  left: unset !important;
  top: unset !important;
  bottom: 30px !important;
  right: 30px !important;
  z-index: 1000;
  width: 300px !important;
  height: 400px !important;
}

.single,
.blog,
.page-template-contact-page-php,
.page-template-speaking-page-php {
  background: url(../img/cards-bg.png) center/cover no-repeat;
  background-color: #0d0d0d;
}
.single .wrapper::before,
.blog .wrapper::before,
.page-template-contact-page-php .wrapper::before,
.page-template-speaking-page-php .wrapper::before {
  display: none;
}

.other-page__title {
  font-size: 52px;
  text-align: center;
  padding-bottom: 46px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  margin-bottom: 33px;
}
@media (max-width: 768px) {
  .other-page__title {
    padding-bottom: 25px;
    margin-bottom: 25px;
    font-size: 34px;
  }
}

.blog-sec {
  padding: 138px 0 164px;
}
@media (max-width: 1099px) {
  .blog-sec {
    padding-bottom: 75px;
  }
}
@media (max-width: 768px) {
  .blog-sec {
    padding-bottom: 45px;
  }
}
.blog .pagination {
  display: flex;
  justify-content: center;
  position: relative;
}
.blog .pagination .pagination-item {
  height: 41px;
  width: 41px;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 2px;
}
@media (max-width: 768px) {
  .blog .pagination .pagination-item {
    width: 25px;
    height: 25px;
    font-size: 14px;
  }
}
.blog .pagination .pagination-item.active {
  background: #b70e0e;
}
.blog .pagination .arrow a {
  display: flex;
  align-items: center;
  gap: 11px;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}
@media (max-width: 768px) {
  .blog .pagination .arrow a {
    font-size: 14px;
    gap: 5px;
  }
}
.blog .pagination .arrow:first-child {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1285px) {
  .blog .pagination .arrow:first-child {
    left: 15px;
  }
}
.blog .pagination .arrow:last-child {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1315px) {
  .blog .pagination .arrow:last-child {
    right: 15px;
  }
}
.blog__list {
  margin-bottom: 100px;
  position: relative;
  overflow: hidden;
  display: grid;
  row-gap: 117px;
  -moz-column-gap: 54px;
       column-gap: 54px;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 992px) {
  .blog__list {
    margin-bottom: 75px;
  }
}
@media (max-width: 768px) {
  .blog__list {
    margin-bottom: 45px;
  }
}
@media (max-width: 1099px) {
  .blog__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 768px) {
  .blog__list {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 25px;
    -moz-column-gap: 0px;
         column-gap: 0px;
  }
}
.blog__item-text {
  font-size: 18px;
  letter-spacing: 0.01em;
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.81);
}
@media (max-width: 1099px) {
  .blog__item-text {
    font-size: 14px;
  }
}
.blog__item:not(.blog__item-big) {
  position: relative;
  display: flex;
  flex-direction: column;
}
.blog__item:not(.blog__item-big)::after {
  content: "";
  display: block;
  position: absolute;
  left: -27px;
  top: 0;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.24);
}
@media (max-width: 1099px) {
  .blog__item:not(.blog__item-big)::after {
    left: -15px;
  }
}
.blog__item-date {
  font-family: "DM Sans";
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.085em;
  text-transform: uppercase;
  color: #6c6c6c;
}
.blog__item-img {
  height: 230px;
  display: block;
  width: 100%;
  margin-bottom: 37px;
}
@media (max-width: 1099px) {
  .blog__item-img {
    margin-bottom: 15px;
  }
}
@media (max-width: 576px) {
  .blog__item-img {
    height: 175px;
  }
}
.blog__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 65px;
  border-bottom-left-radius: 65px;
}
.blog__item-big {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  align-items: flex-start;
}
@media (max-width: 1099px) {
  .blog__item-big {
    grid-column-end: 3;
  }
}
@media (max-width: 768px) {
  .blog__item-big {
    grid-column-end: 2;
  }
}
@media (max-width: 768px) {
  .blog__item-big {
    display: block;
  }
}
.blog__item-big .blog__item-img {
  flex: 0 0 511px;
  height: 310px;
  margin-bottom: 0;
}
@media (max-width: 1099px) {
  .blog__item-big .blog__item-img {
    height: 250px;
  }
}
@media (max-width: 992px) {
  .blog__item-big .blog__item-img {
    width: 300px;
    flex: 0 0 300px;
    height: 150px;
  }
}
@media (max-width: 768px) {
  .blog__item-big .blog__item-img {
    width: 100%;
    height: 230px;
    margin-bottom: 15px;
  }
}
@media (max-width: 576px) {
  .blog__item-big .blog__item-img {
    height: 175px;
  }
}
.blog__item-big .blog__item-right {
  padding-left: 47px;
}
@media (max-width: 768px) {
  .blog__item-big .blog__item-right {
    padding-left: 0;
  }
}
.blog__item-big .text {
  margin-top: 10px;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.81);
}
@media (max-width: 1099px) {
  .blog__item-big .text {
    font-size: 14px;
  }
}
.blog__learn-more {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 11px;
  padding-top: 26px;
  margin-top: auto;
}
@media (max-width: 1099px) {
  .blog__learn-more {
    padding-top: 15px;
  }
}
@media (max-width: 992px) {
  .blog__learn-more {
    font-size: 14px;
  }
}

.contact-sec {
  padding-top: 140px;
  padding-bottom: 135px;
}
@media (max-width: 1099px) {
  .contact-sec {
    padding-bottom: 75px;
  }
}
@media (max-width: 768px) {
  .contact-sec {
    padding-bottom: 45px;
  }
}
.contact-sec__img {
  display: block;
  width: 100%;
  margin-top: 20px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .contact-sec__img {
    height: 200px;
  }
}
.contact__title {
  margin-bottom: 36px;
}
.contact__cols {
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  .contact__cols {
    display: block;
  }
}
.contact__form {
  flex: 0 0 565px;
}
.contact__form form {
  display: block;
  width: 100%;
}
.contact__form form > p {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
@media (max-width: 992px) {
  .contact__form form > p {
    gap: 15px;
  }
}
.contact__form form > p:last-of-type {
  flex-direction: column;
  align-items: center;
}
.contact__form .wpcf7-form-control-wrap {
  width: calc(50% - 12.5px);
}
@media (max-width: 992px) {
  .contact__form .wpcf7-form-control-wrap {
    width: calc(50% - 7.5px);
  }
}
@media (max-width: 576px) {
  .contact__form .wpcf7-form-control-wrap {
    width: 100%;
  }
}
.contact__form .wpcf7-not-valid-tip {
  font-size: 12px;
  margin-top: 5px;
  padding-left: 3px;
}
.contact__form br {
  display: none;
}
.contact__form [data-name=obstacle],
.contact__form [data-name=do-living],
.contact__form [data-name=invest] {
  width: 100%;
}
.contact__form input:not([type=submit]),
.contact__form textarea {
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 2px;
  border: 1px solid;
  width: 100%;
  padding: 17px 19px;
  outline: none;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 17px;
  color: #ffffff;
  border-image-source: linear-gradient(90.03deg, rgba(255, 255, 255, 0.43) -99.93%, rgba(255, 255, 255, 0.01) 46.87%, rgba(255, 255, 255, 0.15) 99.97%);
}
.contact__form input:not([type=submit])::-moz-placeholder, .contact__form textarea::-moz-placeholder {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 17px;
  color: #ffffff;
}
.contact__form input:not([type=submit])::placeholder,
.contact__form textarea::placeholder {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 17px;
  color: #ffffff;
}
.contact__form textarea {
  resize: none;
  height: 113px;
}
.contact__form input[type=submit] {
  text-align: center;
  display: inline-block;
  min-width: 170px;
  background: #b70e0e;
  color: #fff;
  font-weight: 500;
  border-radius: 2px;
  border-bottom-left-radius: 14px;
  border-top-right-radius: 14px;
  padding: 11px 46px;
  font-family: "Gilroy";
  color: #fff;
  font-size: 17px;
  text-transform: capitalize;
  transition: background 0.3s;
  border: none;
  margin-top: 45px;
}
.contact__form input[type=submit]:hover {
  background: #880a0a;
}
.contact__left {
  padding-right: 116px;
  flex: 0 0 518px;
}
@media (max-width: 1099px) {
  .contact__left {
    padding-right: 45px;
    flex: 1 1 auto;
  }
}
@media (max-width: 992px) {
  .contact__left {
    margin-bottom: 15px;
    padding-right: 0;
  }
}
@media (max-width: 576px) {
  .contact__left {
    text-align: center;
  }
  .contact__left .footer__socials {
    justify-content: center;
  }
  .contact__left .footer__link {
    justify-content: center;
  }
}

.faq {
  padding-top: 40px;
}
.faq__cols {
  display: grid;
  gap: 25px;
  margin-top: 15px;
}
@media (min-width: 992px) {
  .faq__cols {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}
@media (min-width: 768px) {
  .faq__cols {
    margin-top: 49px;
  }
}
.faq__title_1 {
  text-align: center;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .faq__title_1 {
    padding-bottom: 27px;
    margin-bottom: 78px;
  }
}
.faq__title_1::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background: rgba(255, 255, 255, 0.24);
}
@media (min-width: 768px) {
  .faq__title_1::before {
    width: calc(100% - 120px);
  }
}
.faq__uptitle {
  text-align: center;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.085em;
  text-transform: uppercase;
  color: #6c6c6c;
  margin-bottom: 13px;
}
.faq__title_2 {
  text-align: center;
  max-width: 850px;
  margin: 0 auto;
}
.faq__item {
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  position: relative;
}
@media (min-width: 768px) {
  .faq__item {
    padding: 27px 0;
  }
}
.faq__item-btn {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b70e0e;
  border-radius: 2px;
  position: absolute;
  right: 0;
  top: 15px;
}
@media (min-width: 768px) {
  .faq__item-btn {
    top: 27px;
    width: 35px;
    height: 35px;
  }
}
.faq__item-btn svg {
  transition: 0.5s;
}
@media (max-width: 769px) {
  .faq__item-btn svg {
    width: 15px;
  }
}
.faq__item h3 {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.015em;
  text-transform: capitalize;
  cursor: pointer;
}
@media (min-width: 992px) {
  .faq__item h3 {
    font-size: 24px;
  }
}
.faq__item-text {
  position: relative;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.7s;
}
.faq__item-text p:first-child {
  padding-top: 15px;
}
@media (min-width: 768px) {
  .faq__item-text p:first-child {
    padding-top: 40px;
  }
}
.faq__item.active .faq__item-text {
  max-height: 1000px;
}
.faq__item.active .faq__item-btn svg {
  transform: rotate(180deg);
}
.faq form {
  display: block;
  width: 100%;
}
.faq form > p {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
@media (max-width: 992px) {
  .faq form > p {
    gap: 15px;
  }
}
.faq form > p:last-of-type {
  flex-direction: column;
  align-items: center;
}
.faq .wpcf7-form-control-wrap {
  width: 100%;
}
.faq .wpcf7-not-valid-tip {
  font-size: 12px;
  margin-top: 5px;
  padding-left: 3px;
}
.faq br {
  display: none;
}
.faq [data-name=obstacle],
.faq [data-name=do-living],
.faq [data-name=invest] {
  width: 100%;
}
.faq input:not([type=submit]),
.faq textarea {
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 2px;
  border: 1px solid;
  width: 100%;
  padding: 17px 19px;
  outline: none;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 17px;
  color: #ffffff;
  border-image-source: linear-gradient(90.03deg, rgba(255, 255, 255, 0.43) -99.93%, rgba(255, 255, 255, 0.01) 46.87%, rgba(255, 255, 255, 0.15) 99.97%);
}
.faq input:not([type=submit])::-moz-placeholder, .faq textarea::-moz-placeholder {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 17px;
  color: #ffffff;
}
.faq input:not([type=submit])::placeholder,
.faq textarea::placeholder {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 17px;
  color: #ffffff;
}
.faq textarea {
  resize: none;
  height: 113px;
}
.faq input[type=submit] {
  text-align: center;
  display: inline-block;
  min-width: 170px;
  background: #b70e0e;
  color: #fff;
  font-weight: 500;
  border-radius: 2px;
  border-bottom-left-radius: 14px;
  border-top-right-radius: 14px;
  padding: 11px 46px;
  font-family: "Gilroy";
  color: #fff;
  font-size: 17px;
  text-transform: capitalize;
  transition: background 0.3s;
  border: none;
  margin-top: 45px;
}
.faq input[type=submit]:hover {
  background: #880a0a;
}

.cards-speaking {
  background: transparent;
}
.cards-speaking .text {
  margin-bottom: 0;
}

.text-page {
  padding-top: 100px;
  padding-bottom: 100px;
}
.text-page p {
  margin-bottom: 20px;
}